In [20]:
from sksurv.datasets import load_aids,load_breast_cancer
import pandas as pd
import numpy as np

In [21]:
Xaids, yaids = load_aids('aids')
Xdeath, ydeath = load_aids('death')

In [22]:
Xaids

       age    cd4 hemophil ivdrug karnof  priorzdv raceth sex strat2 tx txgrp
0     34.0  169.0        0      1    100      39.0      1   1      1  0     1
1     34.0  149.5        0      1     90      15.0      2   2      1  0     1
2     20.0   23.5        1      1    100       9.0      1   1      0  1     2
3     48.0   46.0        0      1     90      53.0      1   1      1  0     1
4     46.0   10.0        0      3     90      12.0      1   1      0  1     2
...    ...    ...      ...    ...    ...       ...    ...  ..    ... ..   ...
1146  44.0   65.5        0      1    100     103.0      1   1      1  1     2
1147  41.0    7.5        0      1     80      20.0      2   1      0  1     2
1148  43.0  170.0        0      3     90      27.0      2   1      1  0     1
1149  44.0  282.5        0      3     80      12.0      1   1      1  0     1
1150  44.0  120.0        0      1     90      26.0      1   1      1  1     2

[1151 rows x 11 columns]

In [23]:
yaids

array([(False, 189.), (False, 287.), (False, 242.), ..., (False, 272.),
       (False, 192.), (False, 132.)],
      dtype=[('censor', '?'), ('time', '<f8')])

In [24]:
Xdeath

       age    cd4 hemophil ivdrug karnof  priorzdv raceth sex strat2 tx txgrp
0     34.0  169.0        0      1    100      39.0      1   1      1  0     1
1     34.0  149.5        0      1     90      15.0      2   2      1  0     1
2     20.0   23.5        1      1    100       9.0      1   1      0  1     2
3     48.0   46.0        0      1     90      53.0      1   1      1  0     1
4     46.0   10.0        0      3     90      12.0      1   1      0  1     2
...    ...    ...      ...    ...    ...       ...    ...  ..    ... ..   ...
1146  44.0   65.5        0      1    100     103.0      1   1      1  1     2
1147  41.0    7.5        0      1     80      20.0      2   1      0  1     2
1148  43.0  170.0        0      3     90      27.0      2   1      1  0     1
1149  44.0  282.5        0      3     80      12.0      1   1      1  0     1
1150  44.0  120.0        0      1     90      26.0      1   1      1  1     2

[1151 rows x 11 columns]

In [25]:
ydeath

array([(False, 189.), (False, 287.), (False, 242.), ..., (False, 272.),
       (False, 192.), (False, 132.)],
      dtype=[('censor_d', '?'), ('time_d', '<f8')])

In [26]:
y = pd.concat([pd.DataFrame.from_records(ydeath),pd.DataFrame.from_records(yaids)],axis=1)
y['censor'] = y['censor'].astype('int64')
y['censor_d'] = y['censor_d'].astype('int64')
y

      censor_d  time_d  censor   time
0            0   189.0       0  189.0
1            0   287.0       0  287.0
2            0   242.0       0  242.0
3            0   199.0       0  199.0
4            0   286.0       0  286.0
...        ...     ...     ...    ...
1146         0   273.0       0  273.0
1147         0   327.0       1   47.0
1148         0   272.0       0  272.0
1149         0   192.0       0  192.0
1150         0   132.0       0  132.0

[1151 rows x 4 columns]

1 -> AIDS
2 -> DECES W/O AIDS
0 -> PAS AIDS

In [27]:

y['status'] = np.where((y['censor'] == 0) & (y['censor_d'] == 0), 0,
                       np.where((y['censor'] == 1), 1,
                       np.where((y['censor'] == 0) & (y['censor_d'] == 1), 2, np.nan)))
print(y)

      censor_d  time_d  censor   time  status
0            0   189.0       0  189.0     0.0
1            0   287.0       0  287.0     0.0
2            0   242.0       0  242.0     0.0
3            0   199.0       0  199.0     0.0
4            0   286.0       0  286.0     0.0
...        ...     ...     ...    ...     ...
1146         0   273.0       0  273.0     0.0
1147         0   327.0       1   47.0     1.0
1148         0   272.0       0  272.0     0.0
1149         0   192.0       0  192.0     0.0
1150         0   132.0       0  132.0     0.0

[1151 rows x 5 columns]

In [28]:
y = y.drop(["time_d","censor","censor_d"],axis=1)
y

       time  status
0     189.0     0.0
1     287.0     0.0
2     242.0     0.0
3     199.0     0.0
4     286.0     0.0
...     ...     ...
1146  273.0     0.0
1147   47.0     1.0
1148  272.0     0.0
1149  192.0     0.0
1150  132.0     0.0

[1151 rows x 2 columns]

temps d'event pour la simualtion
simulation en risque compétitif de mon décès sans sida (avec un lien ou pas avec nos covariable) deces overdose sans sida (pverdose et sexe)

TODO:
- Simulation des temps pour les DECES d'overdose sans SIDA

In [29]:
counts = y['status'].value_counts()

print(counts)

0.0    1055
1.0      96
Name: status, dtype: int64

In [30]:
y.to_csv('/Users/anto/Desktop/M2SPB/SURVIE/PROJET/M2-SURVIVAL-AIDS-PROJECT/y.csv', index=True)

In [31]:
Xaids.to_csv('/Users/anto/Desktop/M2SPB/SURVIE/PROJET/M2-SURVIVAL-AIDS-PROJECT/X.csv', index=True)

In [34]:
X, y = load_breast_cancer()
X

,X200726_at,X200965_s_at,X201068_s_at,X201091_s_at,X201288_at,X201368_at,X201663_s_at,X201664_at,X202239_at,X202240_at,...,X221344_at,X221634_at,X221816_s_at,X221882_s_at,X221916_at,X221928_at,age,er,grade,size
0,10.926361,8.962608,11.630078,10.964107,11.518305,12.038527,9.623518,9.814798,10.016732,7.847383,...,6.313081,7.842097,10.132635,10.926365,6.477749,5.991885,57.0,negative,poorly differentiated,3.0
1,12.242090,9.531718,12.626106,11.594716,12.317659,10.776911,10.604577,10.704329,10.161838,8.744875,...,5.126765,8.780328,10.213467,9.555092,4.968050,7.051130,57.0,positive,poorly differentiated,3.0
2,11.661716,10.238680,12.572919,9.166088,11.698658,11.353333,9.384927,10.161654,10.032721,8.125487,...,6.936022,7.855649,10.164514,9.308048,4.283777,6.828986,48.0,negative,poorly differentiated,2.5
3,12.174021,9.819279,12.109888,9.086937,13.132617,11.859394,8.400839,8.670721,10.727427,8.650810,...,6.787297,6.678375,10.660092,10.208241,5.713404,6.927251,42.0,positive,poorly differentiated,1.8
4,11.484011,11.489233,11.779285,8.887616,10.429663,11.401139,7.741092,8.642018,9.556686,8.478862,...,7.312287,7.358556,11.570330,10.931843,5.817265,6.655448,46.0,positive,intermediate,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,12.018292,8.323876,11.955274,10.740020,11.150428,10.650873,8.787549,9.747182,10.176306,9.240307,...,6.354728,9.240358,10.074577,9.604668,6.889179,5.892040,39.0,negative,poorly differentiated,2.2
194,11.711415,10.428482,12.420877,11.145993,11.084685,11.169750,10.870530,11.128882,9.573702,9.287522,...,6.481257,7.645481,11.289674,11.067820,5.393927,6.421038,46.0,negative,poorly differentiated,3.2
195,11.939616,9.615587,11.962812,10.463171,11.514539,11.487394,10.443569,11.104227,9.051649,7.279063,...,6.750251,7.642915,11.490971,7.743568,5.922925,6.979894,47.0,positive,well differentiated,2.5
196,11.848449,10.528911,11.318453,8.609631,13.719035,12.909814,7.525994,8.255546,9.788903,7.343499,...,7.134177,7.536181,11.092211,9.298178,7.278383,7.195797,43.0,positive,intermediate,1.2
197,11.425778,9.901486,12.167550,9.011730,12.013692,12.046090,9.254448,9.751310,10.701032,8.075518,...,6.236565,7.898252,10.052326,8.958376,6.590989,8.034222,39.0,negative,poorly differentiated,2.5

In [36]:
y

array([( True,  723.), (False, 6591.), ( True,  524.), (False, 6255.),
       ( True, 3822.), (False, 6507.), (False, 5947.), (False, 5816.),
       (False, 6007.), ( True, 1233.), ( True, 1136.), (False, 5984.),
       (False, 6249.), ( True, 4066.), ( True,  690.), ( True,  994.),
       ( True,  434.), ( True, 1743.), ( True, 2863.), (False, 5693.),
       (False, 5823.), (False, 5785.), (False, 5661.), (False, 2909.),
       ( True, 1171.), (False, 5110.), (False, 5533.), (False, 5571.),
       (False, 5519.), (False, 5379.), (False, 4675.), (False, 4652.),
       (False, 4227.), ( True,  910.), (False, 4472.), ( True, 1206.),
       (False, 7057.), (False,  958.), (False, 5359.), (False, 5945.),
       (False, 5651.), ( True,  528.), ( True,  796.), (False, 5685.),
       ( True, 1023.), (False, 4791.), (False, 1215.), (False, 3779.),
       (False, 5306.), (False, 5678.), ( True,  421.), (False, 5612.),
       ( True, 3121.), (False, 1104.), (False, 4691.), (False, 5238.),
       (False, 5101.), (False, 2809.), (False, 3296.), (False, 3555.),
       (False, 5433.), (False, 5228.), (False, 5316.), (False, 4925.),
       (False, 5012.), (False, 4642.), (False, 3311.), (False, 4863.),
       ( True, 1815.), ( True,  803.), (False, 2105.), ( True,  530.),
       (False, 4830.), ( True, 1721.), (False, 4720.), ( True, 1259.),
       ( True, 3976.), ( True, 4050.), (False, 1740.), (False, 3608.),
       (False, 3900.), (False, 1554.), (False, 3544.), (False, 3721.),
       (False, 3771.), (False, 3293.), (False, 3800.), ( True, 4415.),
       ( True,  649.), (False, 4952.), ( True, 1693.), (False, 4603.),
       (False, 4857.), (False, 4681.), (False, 2965.), (False, 4596.),
       ( True, 1112.), (False, 1918.), ( True, 1731.), (False, 4327.),
       (False, 4352.), (False, 4181.), (False, 3188.), (False, 2672.),
       ( True,  730.), (False, 1591.), (False, 1920.), (False, 2647.),
       ( True,  269.), (False, 1290.), (False, 4568.), (False, 4537.),
       (False, 5035.), ( True, 2604.), ( True,  394.), ( True, 6777.),
       (False, 2549.), (False, 4085.), (False, 2892.), (False, 5236.),
       (False, 5406.), (False, 4279.), (False, 5359.), (False, 3964.),
       ( True,  289.), (False, 6298.), (False, 6399.), (False, 5683.),
       (False, 6240.), (False, 6161.), (False, 6132.), ( True, 4212.),
       (False, 4980.), (False, 1703.), (False, 5014.), ( True,  880.),
       (False, 8711.), (False, 4672.), (False, 6943.), (False, 6135.),
       ( True,  805.), (False, 5917.), (False, 5909.), (False, 2196.),
       (False, 5860.), ( True, 2349.), (False, 5779.), (False, 5779.),
       (False, 5723.), (False, 5714.), (False, 5653.), ( True,  125.),
       (False, 5678.), ( True, 1742.), (False, 3614.), (False, 5602.),
       (False, 5768.), (False, 5684.), (False, 5530.), (False, 5551.),
       (False, 6352.), (False, 6295.), ( True, 7185.), (False, 6281.),
       ( True, 3313.), (False, 6003.), (False, 2972.), (False, 6232.),
       (False, 9108.), ( True, 4353.), (False, 3914.), (False, 5181.),
       (False, 3855.), (False, 5156.), (False, 4744.), ( True,  794.),
       ( True, 1598.), (False, 5038.), (False, 4874.), (False, 4555.),
       (False, 4487.), (False, 4297.), (False, 4866.), (False, 4178.),
       ( True, 4618.), (False, 4052.), (False, 3782.), (False, 3492.),
       (False, 2561.), ( True, 2454.), (False, 2879.), (False, 5137.),
       (False, 7023.), (False, 5673.), ( True,  404.), (False, 2225.),
       (False, 2722.), (False, 1781.)],
      dtype=[('e.tdm', '?'), ('t.tdm', '<f8')])